{% extends 'base.html' %}
<!---->
{% block title %}
Dealer Reviews
{% endblock title %}
<!---->
{% block body %}

<div class="py-4" style="display: flex; justify-content: space-between; align-items: center">
  <legend>{{ dealer.full_name }} Reviews</legend>
  <a href="{% url 'djangoapp:add_review' dealer_id %}" class="btn btn-outline-primary" style="width: fit-content">
    Leave a review
  </a>
</div>

<div class="gap-4" style="display: flex ">
{% for review in dealer_reviews %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ review.name }}</h5>
        <p class="card-text">{{ review.review }}</p>
        <p class="card-text">Vehicle : {{ review.car_make }}, {{ review.car_model }} ({{ review.car_year }})</p>
        <hr>
        {% if review.sentiment == 'positive' %}
        <p class="card-text" style="color: green">
            Sentiment : {{ review.sentiment }}
        </p>
        {% elif review.sentiment == 'negative' %}
        <p class="card-text" style="color: red">
            Sentiment : {{ review.sentiment }}
        </p>
        {% else %}
        <p class="card-text" style="color: orange">
            Sentiment : {{ review.sentiment }}
        </p>
        {% endif %}
      </div>
    </div>
{% endfor %}
</div>

{% endblock body %}
