{% extends 'base.html' %}

<!-- body -->

{% block body %}

<div class="container">
  <div class="card">
    <h4 class="card-header">Contact Us</h4>
    <div class="card-body">
      <h5>
        Want to work with us or have something to ask? Get in touch with us by
        giving us a call
      </h5>
      <br />
      <p>Telephone : <a href="#" style="color: black">+1-123-456-7890</a></p>
      <p>
        Address :
        <a href="#" style="color: black">123 Main Street, New York, NY 10030</a>
      </p>
    </div>
  </div>
</div>

{% endblock body %}
